@charset "UTF-8";

$Beige: #FBF6EB;
$Black: #000000;
$White: #ffffff;
$Indigo : #1A343F;
$skyBlue: #b3d4fc;
$BlackOpa: rgba(0,0,0,0.6);
$Height100 : 100vh;
$Bold : 700;
$Normal : 500;
$Light: 100;


@mixin set-color($bg-color, $color) {
    color: $color;
    background-color: $bg-color;
}

@mixin set-size($width, $height) {
    width: $width;
    height: $height;
}
	
@mixin blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }

@mixin textEffect($default: 1) {
    @if ($default==1){
        transform: translate(0,0) rotate(.001deg);
                -ms-transition: transform 1s cubic-bezier(.15,.85,.45,1),opacity 1s cubic-bezier(.32,.94,.6,1);
                transition: transform 1s cubic-bezier(.15,.85,.45,1),opacity 1s cubic-bezier(.32,.94,.6,1);
                -webkit-transform: translate(0, 100%);
                -ms-transform: translate(0, 100%);
                transform: translate(0, 100%);
                -webkit-transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
                opacity: 0;

        
    }

    @else {
        opacity: 1;
        -webkit-transform: translate(0, 0) rotate(0.001deg);
        -ms-transform: translate(0, 0) rotate(0.001deg);
        transform: translate(0, 0) rotate(0.001deg);
        -webkit-transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
        transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
       transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
       transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
    }
    
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }
  }

@mixin flex($dir: 'row', $justify: 'cen' ,$align: 'cen') {
    display: flex;
    @if ($dir=='row'){
        flex-direction: row;
    }

    @else {
        flex-direction: column;
    }

    @if ($justify=='cen') {
        justify-content: center;
    }

    @else if ($justify== 'bet') {
        justify-content: space-between;
    }

    @else if ($justify=='str') {
        justify-content: flex-start;
    }

    @if ($align== 'cen') {
        align-items: center;
    }

    @else if ($align== 'str'){
        align-items: flex-start;
    }
}

@mixin font($size, $weight ,$lineH, $color) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineH;
}

@mixin mobile{
    @media all and (max-width: 767px){ 
        @content;
    }
  }
  
@mixin tablet{
   @media all and (min-width: 768px) and (max-width: 1023px){
        @content;
    }
}