@charset "UTF-8";

$Beige: #EFEDCB;
$Black: #181818;
$White: #fafafa;
$Indigo : #1A343F;
$BlackOpa: rgba(0,0,0,0.6);
$Height100 : 100vh;
$Bold : 700;
$Normal : 500;
$Light: 100;

@mixin set-color($bg-color, $color) {
    color: $color;
    background-color: $bg-color;
}

@mixin set-size($width, $height) {
    width: $width;
    height: $height;
}
	
@mixin blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
  }

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }
  }

@mixin flex($dir: 'row', $justify: 'cen' ,$align: 'cen') {
    display: flex;
    @if ($dir=='row'){
        flex-direction: row;
    }

    @else {
        flex-direction: column;
    }

    @if ($justify=='cen') {
        justify-content: center;
    }

    @else if ($justify== 'bet') {
        justify-content: space-between;
    }

    @else if ($justify=='str') {
        justify-content: flex-start;
    }

    @if ($align== 'cen') {
        align-items: center;
    }

    @else if ($align== 'str'){
        align-items: flex-start;
    }
}

@mixin font($size, $weight ,$lineH, $color) {

    font-size: $size;
    line-height: $lineH;
    font-weight: $weight;
    color: $color;
}