@charset "UTF-8";

@import "mixin";

.section-wrap{
    background-color: #fff;
    transition: 1.4s;
}
    /* section 02 [S] */
section.intro{
        overflow: hidden;
        & .intro-visual{
            position: relative;
            box-sizing: border-box;
            @include flex(col,bet,str);
            @include set-size(100%,100%);
                & .visual-letter-wrap{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    & .letter{
                        @include font(17rem,900,1,$Black);
                        display: inline-block;
                        position: relative;
                        left: 50%;
                        transition: all  0.6s ease;
                        transform: translateX(-50%);
                        &.letter-left.active{
                            left: 0;
                            transform: translateX(0%);
                        }
                        &.letter-center.active{
    
                        }
                        &.letter-right.active{
                            left: 100%;
                            transform: translateX(-100%);
                        }
                    }
                }
            & .visual-info{
                &>dt{
                    @include font(6rem,700,1,$Black);
                }
                &>dd{
                    @include font(4rem,500,1.2,$Black);
                    margin-top: 3rem;
                }
            }
            
        }
        

}


/* section 02 [E] */

section.profile{
    & .profile-article{
        overflow: hidden;
        @include set-size(100%, 100%);
        & .profile-wrap{
            height: calc(100% - 21.8rem);
            margin-top: 14rem;
            @include flex(col,bet,str);
            & .profile-summary{
            @include flex(row,bet,cen);
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 5rem;
                & .profile-detail{
                    width: 40%;
                    & .profile-list{
                        margin-top: 3rem;
                        &>li{
                            @include flex(row,str,cen);
                            margin-top: 1rem;
                            & .profile-date{
                                @include font(1.8rem,300,1.3,#989898);
                                width: 16rem;
                            }
        
                            & .profile-txt{
                                @include font(1.8rem,300,1.3,$Black);
                                word-break: keep-all;
                            }
        
                            &.bold{
                                & .profile-txt{
                                    @include font(1.8rem,700,1.3,$Black);
                                }
                            }
                        }
                    }
                }
            }
            
            & .profile-skill{
                width: 100%;
                @include flex(row,bet,cen);
                & .skill-wrap{
                    &~.skill-wrap{
                        margin-top: 3rem;
                    }
                    &>h3{
                        text-align: center;
                    }
                    & .icon_wrap{
                        @include flex(row,str,cen);
                        position: relative;
                        margin-top: 3rem;
                        /* animation: marquee 30s linear infinite;
                        &:hover{
                            animation-play-state: paused;
                        } */
                        & li{
                            &~li{
                                margin-left: 3rem; 
                            }
                            & img{
                                width: 7rem;
                            }
                        }
                    }
                }
            }
        }
        & .profile-img-contents{
            & .profile-img1{
                display: block;
                position: absolute;
                top: 0;
                right: 10rem;
                width: 80rem;
            }
            & .profile-img2{
                display: block;
                position: absolute;
                top: 0;
                left: 10rem;
                width: 40rem;
            }
        }
    }
}

/* section 03 [S] */
section.portfolio{
    width: auto;
    padding: 0;
    & .slideContainer{
        width: 200%;
        overflow: hidden;
        @include set-size(200%,100%);
        & .portfolio-visual{
            float: left;
            width: 50%;
            display: flex;
            position: relative;
            float: left;
            
            box-sizing: border-box;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            @include set-size(50%,100%);
            @include flex(col,bet,str);                    
            & .letter{
                @include font(13rem,$Bold,1.3,$Black);
                font-family: 'Hahmlet';
                @include textEffect(1);
            }

        }

        & .portfolio-contents{
            float: left;
            @include set-size(50%,100%);
            @include flex(col,space-between,str);
            & .portfolio-btn-wrap{
                @include flex(row,str,cen);
                column-gap: 3rem;
                & .portfolio-btn{
                    padding: 1.5rem;
                    @include font(2.5rem,$Normal,1,$Black);
                    background-color: $White;
                    border-radius: 3rem;
                    min-width: 12.8rem;
                    text-align: center;
                    cursor: pointer;
                    &.on{
                        color: $White;
                        background-color: $skyBlue;

                    }
                }
            }
            & .portfolio-list-wrap{
                margin-top: 6rem;
                @include flex(row,str,str);
                flex-wrap: wrap;
                gap: 3rem;
                height: calc(100% - 11.5rem);
                & .portfolio-list-item{
                    width: calc((100% - 9rem) / 4);
                    max-height: calc((100% - 14.5rem) / 2);
                    & figure{
                        height: 100%;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
            }
        }
    }

    

    
}

/* section 03 [E] */



/* footer [S] */

.footer{
    @include flex(row,cen,cen);
    height: 7rem;
    @include set-color($Indigo, $Beige);
}
/* footer [E] */

/* type2 [S] */
.section-wrap.type2 {
    background-color: $Black;
    transition: background-color 1.4s;
    & section{
        background-color: $Black;
        /* box-shadow:0em 0 0.7em $White; */
        transition: 1.4s;
        &.portfolio{
            & .portfolio-visual{
                & .letter{
                    color: $White;
                    transition: color 1.4s;
                    @include textEffect(0);
                }
            }
        
            & .portfolio-contents{
    
            }
        
            
        }
    }
    
}
/* type2 [E] */