@charset "UTF-8";

@import "mixin";

body{
    &.prevent-scroll{
        height: 100%;
        overflow: hidden;
    }
}

*{
    &::-webkit-scrollbar {
        width: 10px;
      }
    
    &::-webkit-scrollbar-thumb {
        background-color: $Black;
        transition: 0.4s;
      }
    
    &::-webkit-scrollbar-track {
        background-color: $White;
        transition: 0.4s;
    }
}

    

.section-wrap{
    background-color: #fff;
    transition: 1.4s;
}
    /* section 02 [S] */
section.intro{
        overflow: hidden;
        & .intro-visual{
            position: relative;
            box-sizing: border-box;
            padding-top: 5rem;
            @include flex(col,bet,str);
            @include set-size(100%,100%);
            @include mobile{
                padding-top: 15rem;
            }
                & .visual-letter-wrap{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    & .letter{
                        @include font(17rem,900,1,$Black);
                        display: inline-block;
                        position: relative;
                        left: 50%;
                        transition: all  0.6s ease;
                        transform: translateX(-50%);
                        @include tabletRow{
                            @include font(19rem,900,1.2,$Black);
                        }
                        @include tablet{
                            @include font(19rem,900,1.5,$Black);
                        }
                        @include mobile{
                            @include font(45rem,900,1.4,$Black);
                        }
                    }

                    &.active .letter{
                        &.letter-left{
                            left: 0;
                            transform: translateX(0%);
                        }
                        &.letter-center{
    
                        }
                        &.letter-right{
                            left: 100%;
                            transform: translateX(-100%);
                        }
                    }
                }
            & .visual-info{
                &>dt{
                    @include font(6rem,700,1,$Black);
                    @include tabletRow{
                        @include font(8rem,700,1,$Black);
                    }
                    @include tablet{
                        @include font(12rem,700,1,$Black);
                    }
                    @include mobile{
                        @include font(34rem,700,1,$Black);
                    }
                }
                &>dd{
                    @include font(4rem,500,1.2,$Black);
                    margin-top: 3rem;
                    word-break: keep-all;
                    @include tabletRow{
                        @include font(5rem,500,1.3,$Black);
                        margin-top: 4.5rem;
                    }
                    @include tablet{
                        @include font(7rem,500,1.3,$Black);
                        margin-top: 7rem;
                    }
                    @include mobile{
                        @include font(25rem,500,1.3,$Black);
                        margin-top: 14rem;
                    }
                }
            }
            
        }
        

}


/* section 02 [E] */

section.profile{
    box-shadow:0em 0 0.7em black;
    & .profile-article{
        overflow: hidden;
        @include set-size(100%, 100%);
        & .profile-wrap{
            height: calc(100% - 21.8rem);
            margin-top: 14rem;
            @include flex(col,bet,str);
            @include tabletRow{
                height: calc(100% - 30rem);
                margin-top: 16rem;
            }
            @include tablet{
                height: calc(100% - 31rem);
            }
            @include mobile{
                height: calc(100% - 47rem);
            }
            & .profile-summary{
            @include flex(row,bet,str);
            justify-content: space-around;
            flex-wrap: wrap;
            row-gap: 5rem;
            @include tabletRow{
                row-gap: 8rem;
            }
            @include tablet{
                @include flex(col,bet,str);
                width: 100%;
                row-gap: 8rem;
            }
            @include mobile{
                @include flex(col,bet,str);
                width: 100%;
                row-gap: 15rem;
            }
                & .profile-detail{
                    width: 40%;
                    @include tablet{
                        width: 100%;
                    }
                    @include mobile{
                        width: 100%;
                    }
                    & .profile-list{
                        margin-top: 3rem;
                        @include tabletRow{
                            margin-top: 4rem; 
                        }
                        @include mobile{
                            margin-top: 6rem; 
                        }
                        &>li{
                            @include flex(row,str,cen);
                            margin-top: 2rem;
                            @include tabletRow{
                                margin-top: 1.2rem; 
                            }
                            & .profile-date{
                                @include font(1.8rem,300,1.3,#989898);
                                width: 16rem;
                                @include tabletRow{
                                    @include font(2.8rem,300,1.3,#989898);
                                    width: 28rem;
                                }
                                @include tablet{
                                    @include font(4.5rem,300,1.4,#989898);
                                    width: 45rem;
                                }
                                @include mobile{
                                    @include font(12rem,300,1.4,#989898);
                                    width: 120rem;
                                }
                            }
        
                            & .profile-txt{
                                @include font(1.8rem,300,1.3,$Black);
                                word-break: keep-all;
                                @include tabletRow{
                                    @include font(2.8rem,300,1.3,$Black);
                                }
                                @include tablet{
                                    @include font(4.5rem,300,1.4,$Black);
                                }
                                @include mobile{
                                    @include font(12rem,300,1.4,$Black);
                                }
                            }
        
                            &.bold{
                                & .profile-txt{
                                    @include font(1.8rem,700,1.3,$Black);
                                    @include tabletRow{
                                        @include font(2.8rem,700,1.3,$Black);
                                    }
                                    @include tablet{
                                        @include font(4.5rem,700,1.4,$Black);
                                    }
                                    @include mobile{
                                        @include font(12rem,700,1.4,$Black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            & .profile-skill{
                width: 100%;
                @include flex(row,bet,cen);
                @include mobile{
                    @include flex(col,aro,str);
                    row-gap: 8rem;
                }
                & .skill-wrap{
                    @include mobile{
                        width: 100%;
                    }
                    & .icon_wrap{
                        @include flex(row,str,cen);
                        position: relative;
                        margin-top: 3rem;
                        @include mobile{
                            column-gap: 11rem;
                            margin-top: 8rem;
                        }
                        & li{
                            &~li{
                                margin-left: 3rem; 
                            }
                            & img{
                                width: 7rem;
                                @include mobile{
                                    width: 35rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        & .profile-img-contents{
            & .profile-img1{
                display: block;
                position: absolute;
                top: 0;
                right: 10rem;
                width: 105rem;
                @include mobile{
                    right: 20rem;
                    width: 315rem;
                }
            }
            & .profile-img2{
                display: block;
                position: absolute;
                top: 0;
                left: 10rem;
                width: 80rem;
                @include mobile{
                    right: 20rem;
                    width: 240rem;
                }
            }
        }
    }
}

/* section 03 [S] */
section.portfolio{
    @include set-size(auto,auto);
    padding: 0;
    & .slideContainer{
        width: 200%;
        height: 100vh;
        overflow: hidden;
        @include set-size(200%,calc(var(--vh, 1vh) * 100));
        & .portfolio-visual{
            position: relative;
            float: left;
            box-sizing: border-box;
            @include set-size(50%,100%);
            @include flex(col,end,str);                    
            & .letter{
                @include font(13rem,$Bold,1.3,$Black);
                font-family: 'Hahmlet';
                @include tabletRow{
                    font-size: 14rem;
                }
                @include tablet{
                    font-size: 20rem;
                }
                @include mobile{
                    font-size: 45rem;
                }
            }

        }

        & .portfolio-contents{
            float: left;
            min-height: 100vh;
            min-height: calc(var(--vh, 1vh) * 100);
            @include set-size(50%,100%);
            @include flex(col,space-between,str);
            @include mobile{
                padding: 30rem 40rem;
            }
            & .portfolio-btn-wrap{
                @include flex(row,str,cen);
                column-gap: 3rem;
                @include tabletRow{
                    column-gap: 4rem;
                }
                @include tablet{
                    column-gap: 6rem;
                }
                @include mobile{
                    column-gap: 15rem;
                }
                & .portfolio-btn{
                    & input[type="radio"]{
                        & ~ label {
                        display: block;
                        padding: 1.5rem;
                        text-align: center;
                        background-color: $White;
                        border-radius: 3rem;
                        min-width: 12.8rem;
                        cursor: pointer;
                        @include font(2.5rem,$Normal,1,$Black);
                        @include tabletRow{
                            padding: 2rem;
                            font-size: 3.5rem;
                            border-radius: 4rem;
                            min-width: 16rem;
                        }
                        @include tablet{
                            padding: 3rem;
                            font-size: 4.5rem;
                            border-radius: 5rem;
                            min-width: 20rem;
                        }
                        @include mobile{
                            padding: 6.5rem;
                            font-size: 15.5rem;
                            border-radius: 15rem;
                            min-width: 60rem;
                        }
                        }
                        &:checked ~ label{
                            color: $White;
                            background-color: $skyBlue;
                        } 
                    }
                    
                }
            }
            & .portfolio-list-wrap{
                width: 100%;
                height: 68rem;
                margin-top: 6rem;
                flex-wrap: wrap;
                gap: 3rem;
                max-height: calc(100% - 15rem);
                overflow: auto;
                @include flex(row,str,cen);
                @include tabletRow{
                    height: 92rem;
                    gap: 5rem;
                    max-height: calc(100% - 21.5rem);
                    margin-top: 10rem;
                }

                @include tablet{
                    height: 179.3rem;
                    gap: 10rem;
                    max-height: calc(100% - 30.5rem);
                    margin-top: 20rem;
                }

                @include mobile{
                    height: 417rem;
                    gap: 20rem;
                    max-height: calc(100% - 168.5rem);
                    margin-top: 40rem;
                    margin-bottom: 100rem;
                }

                &::-webkit-scrollbar {
                    width: 10px;
                  }
                
                &::-webkit-scrollbar-thumb {
                    background-color: crimson;
                    transition: 0.4s;
                  }
                
                &::-webkit-scrollbar-track {
                    background-color: $White;
                    transition: 0.4s;
                }

                & .portfolio-list-item{
                    position: relative;
                    width: calc((100% - 9rem) / 4);
                    aspect-ratio: 1900 / 969;
                    cursor: pointer;
                    overflow: hidden;
                    @include tabletRow{
                        width: calc((100% - 10rem) / 3);
                    }
                    @include tablet{
                        width: calc((100% - 10rem) / 2);
                    }
                    @include mobile{
                        width: 100%;
                    }
                    & figure{
                        @include set-size(100%,100%);
                        position: relative;
                        & img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: 0.25s;
                            @include set-size(100%,100%);
                        }
                        & .portfolio-list-item-hover{
                            @include flex(row,cen,cen);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            padding: 4rem;
                            background: rgba(0, 0, 0, 0.85);
                            text-align: center;
                            transform: translate(-50%,-50%);
                            transition: 0.25s;
                            opacity: 0;
                            word-break: keep-all;
                            z-index: 2;
                            @include set-size(calc(100% + 2rem),calc(100% + 2rem));
                            @include font(2rem,500,1,$White);
                        }
                    }
                    &:hover{
                        & figure {
                            & img{
                                -webkit-transform: scale(1.1);
                                transform: scale(1.1);
                            }
                        }
                        & .portfolio-list-item-hover{
                            opacity: 1;
                        }
                   }
                }
            }
        }
    }

    

    
}

/* section 03 [E] */

/* section 04 [S] */
section.contact{
    & .contact-visual{
        position: relative;
        @include flex(col,cen,cen);
        @include set-size(100%,100%);
        & .contact-txt{
            @include textEffect(1);
            color: $White;
            font-family: 'Hahmlet';
            @include tabletRow{
                font-size: 11rem;
            }
            @include tablet{
                font-size: 13rem;
            }
            @include mobile{
                font-size: 30rem;
            }
            &.active{
                @include textEffect(0);
            }
        }
        & .contact-privacy-wrap{
            @include flex(row,aro,end);
            position: absolute;
            bottom: 5rem;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            @include tabletRow{
                bottom: 10rem;
            }
            @include tablet{
                bottom: 15rem;
            }
            @include mobile{
                bottom: 30rem;
            }
            & h3{
                color: $White;
                font-family: 'Hahmlet';
                @include mobile{
                    font-size: 13.5rem;
                }
            }
        }
    }
    
}
/* section 04 [E] */


/* footer [S] */

footer{
    @include flex(row,cen,cen);
    height: 7rem;
    @include set-color($Indigo, $Beige);
    @include tabletRow{
        height: 10rem;
    }
    @include tablet{
        height: 15rem;
    }
    @include mobile{
        height: 50rem;
    }
    & address{
        @include font(1.7rem,400,1,$White);
        font-style: normal;
        @include tabletRow{
            font-size: 2.5rem;
        }
        @include tablet{
            font-size: 4rem;
        }
        @include mobile{
            font-size: 12rem;
        }
    }
}
/* footer [E] */

/* layer [S] */
.layer-wrap{
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 4;
    @include set-size(100vw,calc(var(--vh, 1vh) * 100));
    & .layer-dimd{
        position: absolute;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.85);
        @include set-size(100%,100%);
    }

    &.active{
        display: block;
    }

    & .layer-contents{
        @include set-size(60%,auto);
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 5rem;
        max-height: 90%;
        z-index: 5;
        transform: translate(-50%,-50%);
        background-color: $White;
        overflow: auto;
        @include tabletRow{
            width: 65%;
        }
        @include tablet{
            width: 85%;
            padding: 7rem;
        }
        @include mobile{
            width: 85%;
            padding: 20rem;
        }
        &.active{
            display: block;
        }

        &::-webkit-scrollbar {
            width: 10px;
          }
        
        &::-webkit-scrollbar-thumb {
            background-color: crimson;
            transition: 0.4s;
          }
        
        &::-webkit-scrollbar-track {
            background-color: $White;
            transition: 0.4s;
        }

        & .layer-img{
            width: 100%;
            border: 1px solid $Black;
            margin-top: 3rem;
            & img{
                width: 100%;
            }
            @include tablet{
                margin-top: 7rem;
            }
            @include mobile{
                margin-top: 20rem;
            }
        }

        & .layer-close{
            position: absolute;
            top: 3rem;
            right: 3rem;
            color: $Black;
            font-size: 3rem;
            cursor: pointer;
            @include tabletRow{
                top: 5rem;
                right: 5rem;
                font-size: 5rem;
            }
            @include tablet{
                top: 7rem;
                right: 7rem;
                font-size: 7rem;
            }
            @include mobile{
                top: 20rem;
                right: 20rem;
                font-size: 25rem;
            }
        }

        & .layer-header{
            text-align: center;
            @include font(4rem,700,1,$Black);
            @include tablet{
                font-size: 6rem;
            }
            @include mobile{
                font-size: 20rem;
                padding-left: 20rem;
                padding-right: 20rem;
                
            }
        }

        & .layer-link{
            width: 16rem;
            margin: 3rem auto 0;
            @include tabletRow{
                width: 31rem;
                margin: 5rem auto 0;
            }
            @include tablet{
                width: 31rem;
                margin: 7rem auto 0;
            }
            @include mobile{
                width: 135rem;
                margin: 20rem auto 0;
            }
        }

        & dl{
            @include flex(row,str,cen);
            flex-wrap: wrap;
            &:first-of-type{
                margin-top: 1.5rem;
            @include tabletRow{
                margin-top: 2rem;
            }
            @include tablet{
                margin-top: 3.5rem;
            }
            @include mobile{
                margin-top: 15rem;
            }
            }
            & dt{
                @include font(1.5rem,700,1.3,$Black);
                margin-right: 1rem;
                @include tabletRow{
                    @include font(2.3rem,700,1.5,$Black);
                    margin-right: 2rem;
                }
                @include tablet{
                    @include font(3rem,700,1.5,$Black);
                    margin-right: 3rem;
                }
                @include mobile{
                    @include font(11.5rem,700,1.6,$Black);
                    margin-right: 10rem;
                }
            }

            & dd{
                @include font(1.5rem,300,1.3,$Black);
                @include tabletRow{
                    @include font(2.3rem,300,1.5,$Black);
                }
                @include tablet{
                    @include font(3rem,300,1.5,$Black);
                }
                @include mobile{
                    @include font(11.5rem,300,1.6,$Black);
                }
            }
        }

        & .layer-txt{
            margin-top: 3rem;
            word-break: keep-all;
            @include tabletRow{
                @include font(2.5rem,500,1.3,$Black);
            }
            @include tablet{
                margin-top: 4rem;
                @include font(3.5rem,500,1.3,$Black);
            }
            @include mobile{
                margin-top: 24rem;
                @include font(14rem,500,1.3,$Black);
            }
        }
    }
}
/* layer [E] */

/* type2 [S] */
.section-wrap.type2 {
    background-color: $Black;
    transition: background-color 1.4s;
    & section{
        background-color: $Black;
        /* box-shadow:0em 0 0.7em $White; */
        transition: 1.4s;
        &.portfolio{
            & .portfolio-visual{
                & .letter{
                    color: $White;
                    transition: color 1.4s;
                }
            }
        
            & .portfolio-contents{
    
            }
        
            
        }
    }
    
}
/* type2 [E] */