@charset "UTF-8";

@import "mixin";

/* section 01 [S] */
  .intro{
    overflow: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  position: relative;
    &>.intro-img-wrap{
        position: absolute;
        top: 50%;
        left: 35%;
        &>.canvas_container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include set-size(70rem,49rem);
            &>#canvas {
                @include set-size(38rem,23rem);
                  pointer-events: none;
                  z-index: 0;
                  margin-left: 25%;
                  margin-top: 12%;
                @include mobile{
                    @include set-size(19rem,11.5rem);
                    margin-left: 24.5%;
                }
              }
            &>.outside{
                position: absolute;
                top: 41%;
                left: 52%;
                transform: translate(-50%,-50%);
                z-index: 1;
                background-color: skyblue;
                transition: 1.4s;
                @include set-size(38rem,23rem);
                @include mobile{
                    @include set-size(19rem,11.5rem);
                }
            }
            @include mobile{
                @include set-size(35rem,24.5rem);
            }
        }
        &>#cat {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%,-50%);
            & .smoke {
                animation: smoke 3s ease-in-out forwards infinite;
            }
            @include mobile{
                @include set-size(35rem,24.5rem);
            }
            & .svg-cat{
                transition: 1.4s;
            }
          }
          @media all and (max-width:1199px) {
            top: calc(40% + 20rem);
          left: 50%;
          transform: translate(-50%,-50%);
          }
      }
      
      &>.intro-text-wrap{
        position: absolute;
        top: 47%;
        left: calc(35% + 55rem);
        text-align: center;
        transform: translate(-50%,-50%);
        &>h2{
            @include font(7rem,300,1,$Black);
            @include mobile{
                @include font(4rem,300,1,$Black);
            }
            & .emphas{
                @include font(7rem,500,1,$Black);
                @include mobile{
                    @include font(4rem,500,1,$Black);
                }
            }
          }
          @media all and (max-width:1199px){
            position: absolute;
            top: 30%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,-50%);
        }
      }
      
  }

  .section-wrap.type2{
    &>.intro{
        & .svg-cat{
            fill: #181818;
        }
        & .intro-img-wrap > .canvas_container > .outside{
            background-color: $Indigo;
        }
    }
  }

/* section 01 [E] */

/* section 02 [S] */
section.about{
    padding: 0;
    background-color: #fff;
    width: auto;
    & .slideContainer{
        overflow: hidden;
        width: 200%;
        height: 100%;
        & .about-visual{
            padding: 10rem;
            float: left;
            box-sizing: border-box;
            width: 50%;
            height: 100%;
            background-color: #fff;
            @include flex(col,bet,str);
            height: 100%;
            position: relative;
            & .visual-letter-wrap{
                & .letter{
                    @include font(17rem,900,1,$Black);
                    transition: all  0.6s ease;
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    &.letter-left.active{
                        transform: translateX(0%);
                        left: 0;
                    }
                    &.letter-center.active{

                    }
                    &.letter-right.active{
                        transform: translateX(-100%);
                        left: 100%;
                    }
                }
            }
        & .visual-info{
            &>dt{
                @include font(6rem,700,1,$Black);
            }
            &>dd{
                @include font(4rem,500,1.2,$Black);
                margin-top: 3rem;
            }
        }

        & .visual-img-contents{
            & .visual-img1{
                position: absolute;
                top: 0;
                right: 10rem;
                display: block;
                width: 80rem;
            }
            & .visual-img2{
                position: absolute;
                top: 0;
                left: 10rem;
                display: block;
                width: 40rem;
            }
        }
        }
        & .about-profile{
            float: left;
            width: 50%;
            height: 100%;
            background-color: red;
            padding: 10rem;
        }
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }
}
/* section 02 [E] */

/* footer [S] */

.footer{
    @include flex(row,cen,cen);
    height: 7rem;
    @include set-color($Indigo, $Beige);
}
/* footer [E] */