@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS:v8.4.14,
* Autoprefixer:v10.4.7
* Browsers:last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS:v8.4.14,
* Autoprefixer:v10.4.7
* Browsers:last 4 version
*/
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: local("NotoSansKR"), url("../font/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: local("NotoSansKR"), url("../font/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: local("NotoSansKR"), url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: local("NotoSansKR"), url("../font/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR-Black";
  font-weight: 900;
  src: local("NotoSansKR-Black"), url("../font/NotoSansKR-Black.otf") format("opentype");
}
@font-face {
  font-family: "Hahmlet";
  font-weight: 100;
  src: local("Hahmlet"), url("../font/Hahmlet-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Hahmlet";
  font-weight: 300;
  src: local("Hahmlet"), url("../font/Hahmlet-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Hahmlet";
  font-weight: 400;
  src: local("Hahmlet"), url("../font/Hahmlet-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hahmlet";
  font-weight: 700;
  src: local("Hahmlet"), url("../font/Hahmlet-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Hahmlet";
  font-weight: 900;
  src: local("Hahmlet"), url("../font/Hahmlet-Black.ttf") format("truetype");
}
/* layout 정의 [S] */
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  br.br-pc {
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  br.br-pc {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  br.br-pc {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  br.br-pc {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  br.br-pc {
    display: block !important;
  }
}
br.br-mo {
  display: none;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  br.br-mo {
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  br.br-mo {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  br.br-mo {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  br.br-mo {
    display: block !important;
  }
}
br.br-tab {
  display: none;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  br.br-tab {
    display: none;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  br.br-tab {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  br.br-tab {
    display: block !important;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  br.br-tab {
    display: none;
  }
}
br.br-tabR {
  display: none;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  br.br-tabR {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  br.br-tabR {
    display: none;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  br.br-tabR {
    display: block !important;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  br.br-tabR {
    display: block !important;
  }
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.dot-list li {
  position: relative;
  padding-left: 1.7rem;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .dot-list li {
    padding-left: 2.7rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .dot-list li {
    padding-left: 9.5rem;
  }
}
.dot-list li::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.3;
  content: "-";
  font-size: 1.8rem;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .dot-list li::before {
    line-height: 1.4;
    font-size: 4.5rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .dot-list li::before {
    line-height: 1.4;
    font-size: 12rem;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .dot-list li::before {
    font-size: 2.8rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .dot-list li::before {
    font-size: 2.8rem;
  }
}

/* layout 정의 [E] */
html {
  font-size: 0.520833vw;
  /* font-size:62.25%; */
  scroll-behavior: smooth;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 0.6vw;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  html {
    font-size: 0.2666666667vw;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  html {
    font-size: 0.5vw;
  }
}

/* header 정의 [S] */
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 2rem 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header-wrap.bgWhite {
  background-color: rgba(250, 250, 250, 0.8);
}
.header-wrap.bgBeige {
  background-color: rgba(239, 237, 203, 0.7);
}
.header-wrap > .header-logo {
  width: 5rem;
  height: 5rem;
}
.header-wrap > .header-logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
.header-wrap > .header-logo > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-wrap > .header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap > .header-list > li {
  margin-right: 2rem;
  margin-left: 2rem;
}
.header-wrap > .header-list > li > a {
  font-weight: 700;
  color: #1A343F;
  line-height: 1;
  font-size: 1.6rem;
  position: relative;
  mix-blend-mode: luminosity;
}
.header-wrap > .header-list > li > a.active::after {
  display: block;
  position: absolute;
  top: -3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 100%;
  background: #ff7d7d;
  animation: jump 1s infinite;
  -webkit-animation: jump 1s infinite;
  content: "";
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: 1.4rem;
  height: 1.4rem;
}

/* header 정의 [E] */
/* section 정의 [S] */
.section {
  overflow: hidden;
  /* @include set-color($Beige, $Black); */
  height: 100vh;
  background-color: #ffffff;
  -webkit-transition: background-color 1.4s;
  -o-transition: background-color 1.4s;
  transition: background-color 1.4s;
  scroll-behavior: smooth;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
.section article {
  padding: 5rem 10rem;
  scroll-behavior: smooth;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .section article {
    padding: 15rem 10rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .section article {
    padding: 30rem 20rem;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .section article {
    padding: 10rem 10rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .section article {
    padding: 10rem 10rem;
  }
}
.section *::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
.section *::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.section.fixed {
  top: 0 !important;
}

/* section 정의 [E] */
/* button 정의 [S] */
.btn {
  display: block;
  min-width: 12.8rem;
  padding: 1rem;
  border: 1px solid #000000;
  border-radius: 3rem;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  color: #000000;
  line-height: 1;
  font-size: 2rem;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .btn {
    min-width: 45rem;
    padding: 3rem;
    border-radius: 6rem;
    font-size: 4.5rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .btn {
    min-width: 45rem;
    padding: 9rem;
    border-radius: 16rem;
    font-size: 13rem;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .btn {
    min-width: 20rem;
    padding: 2rem;
    border-radius: 4rem;
    font-size: 2.5rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .btn {
    min-width: 20rem;
    padding: 2rem;
    border-radius: 4rem;
    font-size: 2.5rem;
  }
}
.btn.disable {
  background-color: #999;
}

.button-ham {
  display: inline-block;
}
.button-ham > span {
  display: block;
  margin: 3px;
  background-color: #000000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 2.5rem;
  height: 0.3rem;
}
.button-ham.active > span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px);
  -ms-transform: rotate(-45deg) translate(-3px, 6px);
  transform: rotate(-45deg) translate(-3px, 6px);
}
.button-ham.active > span:nth-child(2) {
  opacity: 0;
}
.button-ham.active > span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-3px, -6px);
  -ms-transform: rotate(45deg) translate(-3px, -6px);
  transform: rotate(45deg) translate(-3px, -6px);
}

.button-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.button-top > a, .button-top > i {
  color: #ffffff;
  line-height: 1;
  font-size: 2rem;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.button-top:hover i {
  color: #ed1a60;
}

/* button 정의 [E] */
/* font 정의 [S] */
h1 {
  font-weight: 700;
  color: #000000;
  line-height: 1;
  font-size: 7rem;
}
h2 {
  font-weight: 700;
  color: #000000;
  line-height: 1.3;
  font-size: 6rem;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 12rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  h2 {
    font-weight: 700;
    color: #000000;
    line-height: 1;
    font-size: 33rem;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  h2 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 9rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  h2 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 9rem;
  }
}
h3 {
  font-weight: 700;
  color: #000000;
  line-height: 1.3;
  font-size: 3rem;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 6rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  h3 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 14rem;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  h3 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 4rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  h3 {
    font-weight: 700;
    color: #000000;
    line-height: 1.3;
    font-size: 4rem;
  }
}
p, dt, dd {
  font-weight: 500;
  color: #000000;
  line-height: 1.2;
  font-size: 1.8rem;
}

/* font 정의 [E] */
/* animation */
@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    border-radius: 100%;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  30%, 48% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  55% {
    top: -1.2rem;
    -webkit-transform: scale3d(1.3, 0.6, 1);
    transform: scale3d(1.3, 0.6, 1);
  }
  60%, 80% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    bottom: 34px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    border-radius: 100%;
  }
}
@-webkit-keyframes smoke {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20%, 60% {
    -webkit-transform: translate(1px, 0);
    transform: translate(1px, 0);
  }
  40%, 80% {
    -webkit-transform: translate(-1px, 0);
    transform: translate(-1px, 0);
  }
}
@keyframes smoke {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  20%, 60% {
    -webkit-transform: translate(1px, 0);
    transform: translate(1px, 0);
  }
  40%, 80% {
    -webkit-transform: translate(-1px, 0);
    transform: translate(-1px, 0);
  }
}
@-webkit-keyframes lighting {
  0%, 10% {
    opacity: 0.75;
  }
  20%, 100% {
    opacity: 0.5;
  }
}
@keyframes lighting {
  0%, 10% {
    opacity: 0.75;
  }
  20%, 100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes stroke {
  0% {
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  98% {
    stroke: #ffffff;
    stroke-width: 3px;
  }
  100% {
    stroke: #ffffff;
    stroke-dashoffset: 0px;
  }
}
@keyframes stroke {
  0% {
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-dashoffset: 326px;
  }
  70% {
    fill: transparent;
  }
  98% {
    stroke: #ffffff;
    stroke-width: 3px;
  }
  100% {
    stroke: #ffffff;
    stroke-dashoffset: 0px;
  }
}

/*# sourceMappingURL=common.css.map */
