/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
body.prevent-scroll {
  height: 100%;
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body.type2::-webkit-scrollbar {
  width: 10px;
}
body.type2::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body.type2::-webkit-scrollbar-track {
  background-color: #000000;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body.type3::-webkit-scrollbar {
  width: 10px;
}
body.type3::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body.type3::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/common/Preloader.gif") no-repeat center center;
  background-color: #ffffff;
  z-index: 9999;
}

.section-wrap {
  background-color: #fff;
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}

.contents {
  /* section 02 [S] */
  /* section 02 [E] */
  /* section 03 [S] */
  /* section 03 [E] */
  /* section 04 [S] */
  /* section 04 [E] */
  /* footer [S] */
  /* footer [E] */
}
.contents section.intro {
  overflow: hidden;
}
.contents section.intro .intro-visual {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.intro .intro-visual {
    padding-top: 15rem;
  }
}
.contents section.intro .intro-visual .visual-letter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contents section.intro .intro-visual .visual-letter-wrap .letter {
  font-size: 17rem;
  font-weight: 900;
  line-height: 1;
  color: #000000;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: transform 0.6s ease, left 0.6s ease;
  -o-transition: transform 0.6s ease, left 0.6s ease;
  -webkit-transition: left 0.6s ease, -webkit-transform 0.6s ease;
  transition: left 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, left 0.6s ease;
  transition: transform 0.6s ease, left 0.6s ease, -webkit-transform 0.6s ease;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.intro .intro-visual .visual-letter-wrap .letter {
    font-size: 19rem;
    font-weight: 900;
    line-height: 1.2;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-letter-wrap .letter {
    font-size: 19rem;
    font-weight: 900;
    line-height: 1.2;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.intro .intro-visual .visual-letter-wrap .letter {
    font-size: 19rem;
    font-weight: 900;
    line-height: 1.5;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-letter-wrap .letter {
    font-size: 45rem;
    font-weight: 900;
    line-height: 1.4;
    color: #000000;
  }
}
.contents section.intro .intro-visual .visual-letter-wrap.active .letter.letter-left {
  left: 0;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.contents section.intro .intro-visual .visual-letter-wrap.active .letter.letter-right {
  left: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.contents section.intro .intro-visual .visual-info > dt {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.intro .intro-visual .visual-info > dt {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-info > dt {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.intro .intro-visual .visual-info > dt {
    font-size: 12rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-info > dt {
    font-size: 34rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
  }
}
.contents section.intro .intro-visual .visual-info > dd {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  margin-top: 3rem;
  word-break: kee, pleft transform;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.intro .intro-visual .visual-info > dd {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    margin-top: 4.5rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-info > dd {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    margin-top: 4.5rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.intro .intro-visual .visual-info > dd {
    font-size: 7rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    margin-top: 7rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.intro .intro-visual .visual-info > dd {
    font-size: 25rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
    margin-top: 14rem;
  }
}
.contents section.profile {
  -webkit-box-shadow: 0em 0 0.7em black;
  box-shadow: 0em 0 0.7em black;
}
.contents section.profile .profile-article {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.contents section.profile .profile-article .profile-wrap {
  height: calc(100% - 21.8rem);
  margin-top: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap {
    height: calc(100% - 30rem);
    margin-top: 16rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap {
    height: calc(100% - 30rem);
    margin-top: 16rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap {
    height: calc(100% - 31rem);
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap {
    height: calc(100% - 47rem);
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 5rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary {
    row-gap: 8rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary {
    row-gap: 8rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    row-gap: 8rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    row-gap: 15rem;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail {
  width: 40%;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail {
    width: 100%;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail {
    width: 100%;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list {
  margin-top: 3rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list {
    margin-top: 4rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list {
    margin-top: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list {
    margin-top: 6rem;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li {
    margin-top: 1.2rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li {
    margin-top: 1.2rem;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-date {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
  color: #989898;
  width: 16rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-date {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.3;
    color: #989898;
    width: 28rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-date {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.3;
    color: #989898;
    width: 28rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-date {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.4;
    color: #989898;
    width: 45rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-date {
    font-size: 12rem;
    font-weight: 300;
    line-height: 1.4;
    color: #989898;
    width: 120rem;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-txt {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
  color: #000000;
  word-break: kee, pleft transform;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-txt {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-txt {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-txt {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.4;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li .profile-txt {
    font-size: 12rem;
    font-weight: 300;
    line-height: 1.4;
    color: #000000;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li.bold .profile-txt {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li.bold .profile-txt {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li.bold .profile-txt {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li.bold .profile-txt {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-summary .profile-detail .profile-list > li.bold .profile-txt {
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.4;
    color: #000000;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-skill {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 8rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap {
    width: 100%;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap .icon_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 3rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap .icon_wrap {
    -webkit-column-gap: 11rem;
    -moz-column-gap: 11rem;
    column-gap: 11rem;
    margin-top: 8rem;
  }
}
.contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap .icon_wrap li ~ li {
  margin-left: 3rem;
}
.contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap .icon_wrap li img {
  width: 7rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-wrap .profile-skill .skill-wrap .icon_wrap li img {
    width: 35rem;
  }
}
.contents section.profile .profile-article .profile-img-contents .profile-img1 {
  display: block;
  position: absolute;
  top: 0;
  right: 10rem;
  width: 105rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-img-contents .profile-img1 {
    right: 20rem;
    width: 315rem;
  }
}
.contents section.profile .profile-article .profile-img-contents .profile-img2 {
  display: block;
  position: absolute;
  top: 0;
  left: 10rem;
  width: 50rem;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.profile .profile-article .profile-img-contents .profile-img2 {
    right: 20rem;
    width: 240rem;
  }
}
.contents section.portfolio {
  width: auto;
  height: auto;
  padding: 0;
}
.contents section.portfolio .slideContainer {
  width: 200%;
  height: 100vh;
  overflow: hidden;
  width: 200%;
  height: calc(var(--vh, 1vh) * 100);
}
.contents section.portfolio .slideContainer .portfolio-visual {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.contents section.portfolio .slideContainer .portfolio-visual .letter {
  font-size: 13rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  font-family: "Hahmlet";
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-visual .letter {
    font-size: 14rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-visual .letter {
    font-size: 14rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-visual .letter {
    font-size: 20rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-visual .letter {
    font-size: 45rem;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents {
  float: left;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents {
    padding: 30rem 40rem;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap {
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap {
    -webkit-column-gap: 15rem;
    -moz-column-gap: 15rem;
    column-gap: 15rem;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio] ~ label {
  display: block;
  padding: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3rem;
  min-width: 12.8rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio] ~ label {
    padding: 2rem;
    font-size: 3.5rem;
    border-radius: 4rem;
    min-width: 16rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio] ~ label {
    padding: 2rem;
    font-size: 3.5rem;
    border-radius: 4rem;
    min-width: 16rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio] ~ label {
    padding: 3rem;
    font-size: 4.5rem;
    border-radius: 5rem;
    min-width: 20rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio] ~ label {
    padding: 6.5rem;
    font-size: 15.5rem;
    border-radius: 15rem;
    min-width: 60rem;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-btn-wrap .portfolio-btn input[type=radio]:checked ~ label {
  color: #ffffff;
  background-color: #b3d4fc;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap {
  width: 100%;
  height: 68rem;
  margin-top: 6rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
  max-height: calc(100% - 15rem);
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap {
    height: 92rem;
    gap: 5rem;
    max-height: calc(100% - 21.5rem);
    margin-top: 10rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap {
    height: 92rem;
    gap: 5rem;
    max-height: calc(100% - 21.5rem);
    margin-top: 10rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap {
    height: 179.3rem;
    gap: 10rem;
    max-height: calc(100% - 30.5rem);
    margin-top: 20rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap {
    height: 417rem;
    gap: 20rem;
    max-height: calc(100% - 168.5rem);
    margin-top: 40rem;
    margin-bottom: 100rem;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap::-webkit-scrollbar {
  width: 10px;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap::-webkit-scrollbar-thumb {
  background-color: #b3d4fc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap::-webkit-scrollbar-track {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item {
  position: relative;
  width: calc((100% - 9rem) / 4);
  cursor: pointer;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item {
    width: calc((100% - 10rem) / 3);
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item {
    width: calc((100% - 10rem) / 3);
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item {
    width: calc((100% - 10rem) / 2);
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item {
    width: 100%;
  }
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item figure {
  position: relative;
  width: 100%;
  aspect-ratio: 1920/969;
  overflow: hidden;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item figure img {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  width: 100%;
  height: 100%;
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item:hover figure img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item .list-item-figc {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item .list-item-figc {
    font-size: 2.5rem;
    margin-top: 1.3rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item .list-item-figc {
    font-size: 2.5rem;
    margin-top: 1.3rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item .list-item-figc {
    font-size: 3.2rem;
    margin-top: 2rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.portfolio .slideContainer .portfolio-contents .portfolio-list-wrap .portfolio-list-item .list-item-figc {
    font-size: 13.7rem;
    margin-top: 7.7rem;
  }
}
.contents section.contact .contact-visual {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contents section.contact .contact-visual .contact-txt {
  -webkit-transform: translate(0, 0) rotate(0.001deg);
  -ms-transform: translate(0, 0) rotate(0.001deg);
  transform: translate(0, 0) rotate(0.001deg);
  -webkit-transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
  transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
  -o-transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1), transform 0.7s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  color: #ffffff;
  font-family: "Hahmlet";
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.contact .contact-visual .contact-txt {
    font-size: 11rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.contact .contact-visual .contact-txt {
    font-size: 11rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.contact .contact-visual .contact-txt {
    font-size: 13rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.contact .contact-visual .contact-txt {
    font-size: 30rem;
  }
}
.contents section.contact .contact-visual .contact-txt.active {
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate(0.001deg);
  -ms-transform: translate(0, 0) rotate(0.001deg);
  transform: translate(0, 0) rotate(0.001deg);
  -webkit-transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
  transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
  -o-transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition: transform 1s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 1s cubic-bezier(0.15, 0.85, 0.45, 1);
}
.contents section.contact .contact-visual .contact-privacy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents section.contact .contact-visual .contact-privacy-wrap {
    bottom: 10rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents section.contact .contact-visual .contact-privacy-wrap {
    bottom: 10rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents section.contact .contact-visual .contact-privacy-wrap {
    bottom: 15rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.contact .contact-visual .contact-privacy-wrap {
    bottom: 30rem;
  }
}
.contents section.contact .contact-visual .contact-privacy-wrap h3 {
  color: #ffffff;
  font-family: "Hahmlet";
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents section.contact .contact-visual .contact-privacy-wrap h3 {
    font-size: 13.5rem;
  }
}
.contents footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 7rem;
  color: #FBF6EB;
  background-color: #1A343F;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents footer {
    height: 10rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents footer {
    height: 10rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents footer {
    height: 15rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents footer {
    height: 50rem;
  }
}
.contents footer address {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-style: normal;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .contents footer address {
    font-size: 2.5rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .contents footer address {
    font-size: 2.5rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .contents footer address {
    font-size: 4rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .contents footer address {
    font-size: 12rem;
  }
}

/* layer [S] */
.layer-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 4;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}
.layer-wrap .layer-dimd {
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}
.layer-wrap.active {
  display: block;
}
.layer-wrap .layer-contents {
  width: 60%;
  height: auto;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5rem;
  max-height: 90%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  overflow: auto;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents {
    width: 65%;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents {
    width: 65%;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents {
    width: 85%;
    padding: 7rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents {
    width: 85%;
    padding: 20rem;
  }
}
.layer-wrap .layer-contents.active {
  display: block;
}
.layer-wrap .layer-contents::-webkit-scrollbar {
  width: 10px;
}
.layer-wrap .layer-contents::-webkit-scrollbar-thumb {
  background-color: #b3d4fc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.layer-wrap .layer-contents::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.layer-wrap .layer-contents .layer-img {
  width: 100%;
  border: 1px solid #000000;
  margin-top: 3rem;
}
.layer-wrap .layer-contents .layer-img img {
  width: 100%;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents .layer-img {
    margin-top: 7rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-img {
    margin-top: 20rem;
  }
}
.layer-wrap .layer-contents .layer-close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: #000000;
  font-size: 3rem;
  cursor: pointer;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents .layer-close {
    top: 5rem;
    right: 5rem;
    font-size: 5rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-close {
    top: 5rem;
    right: 5rem;
    font-size: 5rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents .layer-close {
    top: 7rem;
    right: 7rem;
    font-size: 7rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-close {
    top: 20rem;
    right: 20rem;
    font-size: 25rem;
  }
}
.layer-wrap .layer-contents .layer-header {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents .layer-header {
    font-size: 6rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-header {
    font-size: 20rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
.layer-wrap .layer-contents .layer-link {
  width: 16rem;
  margin: 3rem auto 0;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents .layer-link {
    width: 31rem;
    margin: 5rem auto 0;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-link {
    width: 31rem;
    margin: 5rem auto 0;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents .layer-link {
    width: 31rem;
    margin: 7rem auto 0;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-link {
    width: 135rem;
    margin: 20rem auto 0;
  }
}
.layer-wrap .layer-contents dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layer-wrap .layer-contents dl:first-of-type {
  margin-top: 1.5rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents dl:first-of-type {
    margin-top: 2rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents dl:first-of-type {
    margin-top: 2rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents dl:first-of-type {
    margin-top: 3.5rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents dl:first-of-type {
    margin-top: 15rem;
  }
}
.layer-wrap .layer-contents dl dt {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  margin-right: 1rem;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents dl dt {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin-right: 2rem;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents dl dt {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin-right: 2rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents dl dt {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    margin-right: 3rem;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents dl dt {
    font-size: 11.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #000000;
    margin-right: 10rem;
  }
}
.layer-wrap .layer-contents dl dd {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: #000000;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents dl dd {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents dl dd {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents dl dd {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents dl dd {
    font-size: 11.5rem;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
  }
}
.layer-wrap .layer-contents .layer-txt {
  margin-top: 3rem;
  word-break: kee, pleft transform;
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1280px) {
  .layer-wrap .layer-contents .layer-txt {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: landscape) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-txt {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .layer-wrap .layer-contents .layer-txt {
    margin-top: 4rem;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .layer-wrap .layer-contents .layer-txt {
    margin-top: 24rem;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.3;
    color: #000000;
  }
}

/* layer [E] */
/* type2 [S] */
.section-wrap.type2 {
  background-color: #000000;
  -webkit-transition: background-color 1.4s;
  -o-transition: background-color 1.4s;
  transition: background-color 1.4s;
}
.section-wrap.type2 section {
  background-color: #000000;
  /* box-shadow:0em 0 0.7em $White; */
  -webkit-transition: 1.4s;
  -o-transition: 1.4s;
  transition: 1.4s;
}
.section-wrap.type2 section.portfolio .portfolio-visual .letter {
  color: #ffffff;
  -webkit-transition: color 1.4s;
  -o-transition: color 1.4s;
  transition: color 1.4s;
}
/* type2 [E] */

/*# sourceMappingURL=style.css.map */
